<p id="notice"><%= notice %></p>

<div class="container">

    <div>
      <div class = "flat-name flat-details">
        <%= @flat.name %>
      </div>
      <%= @flat.address %>
    </div>

    <div class = "flat-details">
      <p>a bit more about this flat...</p>
      <%= @flat.description %>
    </div>

  <div class="flex flat-details">
    <h4>Details</h4>
    <i class="fas fa-user"></i><span>  <%= @flat.number_of_guests %></span>
    <i class="fas fa-euro-sign"></i>  <%= @flat.price_per_night %>
  </div>

  <div>
    <%= link_to 'Edit', edit_flat_path(@flat) %> |
    <%= link_to 'Back', flats_path %>
  </div>
</div>
